bin/Debug/net8.0/DotnetAPI.dll
bin/Debug/net8.0/DotnetAPI.exe
bin/Debug/net8.0/DotnetAPI.pdb
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/DotnetAPI.AssemblyInfo.cs
obj/Debug/net8.0/DotnetAPI.AssemblyInfoInputs.cache
obj/Debug/net8.0/DotnetAPI.dll
obj/Debug/net8.0/DotnetAPI.pdb
obj/Debug/net8.0/DotnetAPI.sourcelink.json
obj/Debug/net8.0/ref/DotnetAPI.dll
obj/Debug/net8.0/refint/DotnetAPI.dll
